body{
    font-family: Arial, sans-serif;
    max-width: 500px;
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 80px;
    flex-direction: column;
}
h1{
    margin-bottom: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #020617;
    padding: 12px;
    border-radius: 10px;
}
li.completed{
    text-decoration: line-through;
}
li button{
    background: transparent;
    border: none;
    color: #ef4444;
    font-size: 16px;
    cursor: pointer;
}
#todo-input{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #020617;
    color: white;
    margin-bottom: 20px;
}
#add-todo-btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #dc0a0a;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
#todo-list{
    list-style: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#add-todo-btn:hover{
    background-color: #a30808;
}
#counter{
    margin-top: 20px;
    font-weight: bold;
}
.filters{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.filters button{
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: white;
    font-weight: bold;
}
#clear-completed-btn{
    margin-top: 20px;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #ff4d4d;
    color: white;
    font-weight: bold;
}