*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.app{
    width: 100%;
    max-width: 420px;
    padding: 20px;
}
.header h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 6px;
}
#counter{
    font-size: 14px;
    opacity: 0.7;
}
.input-group{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
#todo-input{
    flex: 1;
    background: #1c1c1e;
    border: none;
    padding: 14px 16px;
    font-size: 15px;
    color: white;
    outline: none;
}
#todo-input::placeholder{
    color: #9a9a9a;
}
#add-todo-btn{
    width: 30px;
    height: 30px;
    border-radius: 12px;
    border: none;
    background: #2c2c2e;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
}
#add-todo-btn:hover{
    background: #3a3a3c;
}
.filters{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.filters button{
  padding: 8px 16px;
  border-radius: 999px;
  border: none;
  background: #1c1c1e;
  color: #aaa;
  cursor: pointer;
  font-weight: 500;
}
.filters button.active,
.filters button:hover{
    background: #fff;
    color: #000;
}
hr{
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #1c1c1e;
}
#todo-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#todo-list li{
    background: #1c1c1e;
    padding: 14px 16px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.2s;
}
#todo-list li.completed{
    opacity: 0.5;
    text-decoration: line-through;
}
#todo-list li button{
    background: transparent;
    border: none;
    color: #ff453a;
    font-size: 18px;
    cursor: pointer;
}
#empty-message{
    text-align: center;
    margin-top: 40px;
    opacity: 0.5;
    font-size: 14px;
    display: none;
}
#clear-completed-btn{
    margin-top: 40px;
    background: transparent;
    border: none;
    color: #ff453a;
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}